## .NET Build Artifacts
bin/
obj/

## User secrets
**/secrets.json

## Rider
.idea/

## VS Code
.vscode/
!.vscode/extensions.json

## Visual Studio
.vs/
*.user

## Logs
*.log

## OS
.DS_Store
Thumbs.db
